.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5), 10.0 , 0.0 , 0.0 ,10.0);

}

.rounded_box{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to bottom, rgba(12,19,79,0.9), #146C94 );
}

.rounded_box__v2{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to right, rgba(12,19,79,0.9), #146C94 );
}

.rounded_box__v3{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to left, rgba(12,19,79,0.9), #146C94 );
}

.rounded_box__v4{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to right, rgba(35,40,48,0.7), #34303D );
}